* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 10px;
}

#intro-div {
    background-color: blanchedalmond;
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

img{

    max-height: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    width: 350px;
    height: 500px;
    overflow: hidden;
    text-align: center;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

#image {
    height: 90%;
    object-fit: cover;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li{

    margin: 16px 0;
}

a{

    Color: #477ca7;

}

a:visited{
    color:#74638f;
}