* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 10px;
    text-align: center;
}

main > * {
    margin-top: 30px;
}

#intro-div {
    background-color: blanchedalmond;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    gap: 10px;
    max-width: 800px;
    margin: 30px auto 0;
}

#img-div {
    min-height: 400px;
    max-height: 500px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#image {
    max-width: 400px;
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

#text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li{

    margin: 16px 0;
}

a{

    Color: #477ca7;

}

a:visited{
    color:#74638f;
}